

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: #D9D2B6;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h1 {
    color: black;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 5em;
    font-family: "lora";
}
h2 {
    color: black;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 3em;
    font-family: "lora";
}

p {
    font-family: "lora";
}
img {
    border-radius: 25%;
    box-shadow: 5px 10px 8px 5px #888888;
}




.grid, .list {
    padding:15px;
}
