

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: #D9D2B6;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h1 {
    color: black;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 5em;
    font-family: "lora";
}
h2 {
    color: black;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 3em;
    font-family: "lora";
}

p {
    font-family: "lora";
}
.cards img {
    border-radius: 25%;
    box-shadow: 5px 10px 8px 5px #888888;
}

.grid, .list {
    padding:15px;
}

table {
    margin: 0 auto;
    font-family: "lora";
    background-color: white;
}
td {
    padding: 20px;
    font-size: 1.8em;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
