@media screen and (min-width: 850px) {
    #menu-btn {
        display: none;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 20px;
    }
    #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }
    .links {
        display: block;
        width: 100%;
        margin: 5px;
        padding: 5px;
        border: none;
    }
    #social {
        display: flex;
        align-self: center;
        gap: 20px;
    }



/* Main CSS */
#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #84A98C;
    margin: 20px;
    padding: 20px;
}
#breakfast {
    margin: 20px;
}
#lunch {
    margin: 20px;
}


}