.breakfast-cards, .lunch-cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.breakfast-cards section, .lunch-cards section {
    border: 2px solid #354F52;
    box-shadow: 10em;
    background-color: rgb(216, 196, 146);
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h1 {
    color: #354F52;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size: 5em;
    font-family: "lora";
}
h2 {
    color: #354F52;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size: 3em;
    font-family: "lora";
}
p {
    font-family: "Robot Condensed";
}