.breakfast-cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.breakfast-cards section {
    border: 1px solid navy;
    background-color: #D9D2B6;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h1 {
    color: #354F52;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size: 5em;
    font-family: "lora";
}
h2 {
    color: #354F52;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size: 3em;
    font-family: "lora";
}
p {
    font-family: "Robot Condensed";
}