@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Roboto+Condensed:wght@300&display=swap');

#content {
    background-color: #CAD2C5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: #84A98C;
    padding: 40px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#menu-btn {
    font-size: 3em;
    width: 100px;
}
#logo img {
    /* margin: 5px; */
    /* padding: 20px; */
    /* border: 3px solid black; */
    border-radius: 50px;
    /* background-color: #D9D2B6; */
}
#nav-links {
    width: 100%;
}
#nav-links a:hover {
    background-color: rgb(216, 196, 146);
    border: 3px solid #CAD2C5;
}
#social {
    padding: 0 50px;
    border-radius: 5px;
}
#social a img{
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}
.links {
    display: none;
    list-style: none;
    text-align: center;
    background: #52796F;
}
nav ul li a {
    display: inline-block;
    padding: 30px 0;
    width: 100%;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: black;
    border: 3px solid black;
}
.show-nav {
    display: block;
}
#date {
    margin: 30px;
    padding: 25px;
    background-color: #52796F;
    border: 3px solid #354F52;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: x-large;
}


/* Main CSS */
#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#breakfast, #lunch {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #84A98C;
    padding: 10px;
}

/* History CSS */
#history {
    background-color: #84A98C;
}
#history p {
    color: #354F52;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#history-card {
    border: 2px solid #354F52;
    background-color: rgb(216, 196, 146);
    text-align: center;
    width: 0 auto;
    margin: 30px;
}

/* Footer CSS */
#footer-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    align-items: center;
}
footer {
    background-color: #84A98C;
    padding: 40px;
}
